<style type="text/css">
  .labelText {
    margin: 10px 0;
    display: block;
  }

  .title4 {
    margin: 15px 0;
    position: absolute;
    top: -50px;
    padding: 0 15px;
    background-color: #fff
  }

  .box {
    border: 1px solid rgba(76, 76, 76, 0.21);
    margin: 45px 15px 15px;
    padding: 20px 0px;
    position: relative;
    border-radius: 5px;
    width: 100%
  }

  .MLR {
    margin: 0 1px
  }
</style>
<div class="container">
  <!-- <h1>Project ADA</h1>-->
  <form #driverForm="ngForm">
  <div class="row">
    <div class="col-sm-4 col-md-4 .col-xs-12">
      <lable class="labelText">Driver Name <span style="color:red">*</span></lable>
      <input type="text" class="form-control" placeholder="Enter Driver Name" name=driverName id="driverName" #driverName="ngModel"
             [(ngModel)]="driverAssetDetails.driverName" required>
      <div style="color: red" *ngIf="driverName.touched && driverName.errors?.required" [hidden]="driverName.valid || driverName.pristine"
           class="alert alert-danger" >driverName is required.
      </div>
    </div>
    <div class="col-sm-4  col-md-4 .col-xs-12">
      <lable class="labelText">License Number <span style="color:red">*</span></lable>
      <input type="text" class="form-control" placeholder="Enter License Number" name=liscenceNumber id="liscenceNumber" #liscenceNumber="ngModel"
             [(ngModel)]="driverAssetDetails.liscenceNumber" required>
      <div style="color: red" *ngIf="liscenceNumber.touched && liscenceNumber.errors?.required" [hidden]="liscenceNumber.valid || liscenceNumber.pristine"
           class="alert alert-danger" >License Number is required.
      </div>
    </div>
    <div class="col-sm-4 col-md-4 .col-xs-12">
      <lable class="labelText">License Validity <span style="color:red">*</span></lable>
      <!--<input type="text" class="form-control" placeholder="Enter Liscence Validity" name=liscenceValidity
             [(ngModel)]="driverAssetDetails.liscenceValidity" required>-->
    <!--  <form class="form-inline">
        <div class="form-group">-->
          <div class="input-group">
            <input type="date" class="form-control" placeholder="yyyy-mm-dd"  name="dp" id="dp" #dp="ngModel" required [(ngModel)]="driverAssetDetails.liscenceValidity">
           <!-- <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" id="dp" #dp="ngModel" required [(ngModel)]="driverAssetDetails.liscenceValidity" ngbDatepicker #d="ngbDatepicker"  dateFormat="dd-MMM-yyyy">-->
          <!-- <div class="input-group-append">
              <button class="" (click)="d.toggle()" type="button"><i class="fa fa-calendar-check-o"
                                                                     aria-hidden="true"></i>
              </button>
            </div>-->
          </div>
      <div style="color: red" *ngIf="dp.touched && dp.errors?.required" [hidden]="dp.valid || dp.pristine"
           class="alert alert-danger" >Date is required.
      </div>
       <!-- </div>
      </form>-->

    </div>
  </div>


  <div class="row">
    <div class="col-sm-4 col-md-4 .col-xs-12">
      <lable class="labelText">Mobile Number <span style="color:red">*</span></lable>
      <input  type="number" pattern="^(0|[1-9][0-9]*)$" class="form-control" placeholder="Enter Mobile Number" name=mobileNumber id="mobileNumber" #mobileNumber="ngModel"
             [(ngModel)]="driverAssetDetails.mobileNumber" required>
      <div style="color: red" *ngIf="mobileNumber.touched && mobileNumber.errors?.required" [hidden]="mobileNumber.valid || mobileNumber.pristine"
           class="alert alert-danger" >mobileNumber is required.
      </div>
    </div>
    <div class="col-sm-4 col-sm-4 .col-xs-12">
      <lable class="labelText">Email ID </lable>
      <input type="text" class="form-control" placeholder="Enter Email ID" name=emailId id="emailId" #emailId="ngModel"
             [(ngModel)]="driverAssetDetails.emailId" >
      <div style="color: red" *ngIf="emailId.touched && emailId.errors?.required" [hidden]="emailId.valid || emailId.pristine"
           class="alert alert-danger" >Email is required.
      </div>
    </div>
    <div class="col-sm-4 col-md-4 .col-xs-12">
      <lable class="labelText">License Status <span style="color:red">*</span></lable>
      <select [ngModelOptions]="{standalone: true}"  [(ngModel)]="driverAssetDetails.status" class="form-control">
        <option selected="selected" >Active</option>
        <option >InActive</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 .col-xs-12">
      <lable class="labelText">Driver ID <span style="color:red">*</span></lable>
      <input type="text" class="form-control" placeholder="Enter Driver ID" name=driverID id="driverID" #driverID="ngModel"
             [(ngModel)]="driverAssetDetails.driverID" required>
      <div style="color: red" *ngIf="driverID.touched && driverID.errors?.required" [hidden]="driverID.valid || driverID.pristine"
           class="alert alert-danger" >driverID is required.
      </div>
    </div>
    <div class="col-sm-6 col-sm-6 .col-xs-12">
      <lable class="labelText">Adhaar No</lable>
      <input type="text" class="form-control" placeholder="Enter Adhaar No" name=adhaarNo id="adhaarNo" #adhaarNo="ngModel"
             [(ngModel)]="driverAssetDetails.adhaarNo" >
     <!-- <div style="color: red" *ngIf="adhaarNo.touched && adhaarNo.errors?.required" [hidden]="adhaarNo.valid || adhaarNo.pristine"
           class="alert alert-danger" >Adhaar No is required.
      </div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-sm-12 .col-xs-12">
      <lable class="labelText">Comments</lable>
      <textarea type="text" class="form-control" placeholder="Enter Any Comments" name=comments id="comments"  #comments="ngModel"
                [(ngModel)]="driverAssetDetails.comments" ></textarea>
  <!--    <div style="color: red" *ngIf="comments.touched && comments.errors?.required" [hidden]="comments.valid || comments.pristine"
           class="alert alert-danger" >comment No is required.
      </div>-->
    </div>
  </div>
  <div class="row">
    <div class="box clearfix">
      <div class="col-sm-12">
        <h3 class="title4">Address</h3>
      </div>
      <div class="row MLR">

        <div class="col-sm-8">
          <lable class="labelText">Address </lable>
          <textarea type="text" class="form-control" placeholder="Enter Address" name=address  id="address" #address="ngModel"
                    [(ngModel)]="driverAssetDetails.address"></textarea>
         <!-- <div style="color: red" *ngIf="address.touched && address.errors?.required" [hidden]="address.valid || address.pristine"
               class="alert alert-danger" >Address No is required.
          </div>-->
        </div>
        <div class="col-sm-4">
          <lable class="labelText">Area </lable>
          <input type="text" class="form-control" placeholder="Enter Area" name=area  id="area" #area="ngModel"
                 [(ngModel)]="driverAssetDetails.area" >
         <!-- <div style="color: red" *ngIf="area.touched && area.errors?.required" [hidden]="area.valid || area.pristine"
               class="alert alert-danger" >Area No is required.
          </div>-->
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-12 "></div>
      <div class="row MLR">

        <div class="col-sm-4">
          <lable class="labelText">State </lable>
          <input type="text" class="form-control" placeholder="Enter State" name=state id="state"  #state="ngModel"
                 [(ngModel)]="driverAssetDetails.state" >
         <!-- <div style="color: red" *ngIf="state.touched && state.errors?.required" [hidden]="state.valid || state.pristine"
               class="alert alert-danger" >State No is required.
          </div>-->
        </div>
        <div class="col-sm-4">
          <lable class="labelText">City </lable>
          <input type="text" class="form-control" placeholder="Enter City" name=city  id="city" #city="ngModel"
                 [(ngModel)]="driverAssetDetails.city" >
         <!-- <div style="color: red" *ngIf="city.touched && city.errors?.required" [hidden]="city.valid || city.pristine"
               class="alert alert-danger" >City No is required.
          </div>-->
        </div>

        <div class="col-sm-4">
          <lable class="labelText">Pincode</lable>
          <input type="number" class="form-control" placeholder="Enter Pincode" name=pincode  id="pincode" #pincode="ngModel"
                 [(ngModel)]="driverAssetDetails.pincode" >
         <!-- <div style="color: red" *ngIf="pincode.touched && pincode.errors?.required" [hidden]="pincode.valid || pincode.pristine"
               class="alert alert-danger" >pincode No is required.
          </div>-->
        </div>


      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 text-center" style="margin-top:20px">
        <span *ngIf="!isEditMode">
            <button class="btn btn-default" data-dismiss="modal" (click)="submitConfigDetails()" [disabled]="!driverForm.form.valid">Save</button>
        </span>
      <span *ngIf="isEditMode">
            <button class="btn btn-default" data-dismiss="modal" (click)="updateConfigDetails()" [disabled]="!driverForm.form.valid">Update</button>
        </span>

      <span *ngIf="isEditMode">
            <button class="btn btn-danger" data-dismiss="modal" (click)="deleteAssetById()">Delete</button>
        </span>
      <button class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
  </div>
  </form>
  <script>
      var phoneNumberRegex = /^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/;
      $scope.phoneNumberPattern = phoneNumberRegex;
      $scope.removeValidation = function() {
          if ($scope.cell._newUser === false) {
              $scope.request._number = '';
              $scope.phoneNumberPattern = /[0-9a-zA-Z]?/;
          } else {
              $scope.phoneNumberPattern = phoneNumberRegex;
          }
      };
  </script>
</div>