
<div class="modal" id="sidebar-right-to-add" tabindex="-1" role="dialog" style="overflow: auto">
    <div class="modal-dialog modal-lg  modal-lg   form-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeColor" id="modal-close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title uppercase">Add {{assetSelectedType}}</h4>
            </div>
            <div class="modal-body">
                <app-asset-form [formConfigData]="assetFromConfig" [assetSelectedType]="assetSelectedType"
                                [mainStatusAsset]="mainStatusAsset"
                                (savedAssetCard)="savedAssetCard($event)"></app-asset-form>

        </div>
    </div>
</div>

