<!--{{assetData|json}}-->
<div class="card-text"> Driver Name: <span>{{assetData.driverName}}</span></div>
<div class="card-text"> License Number: <span>{{assetData.liscenceNumber}}</span></div>
<div class="card-text">Driver ID: <span>{{assetData.driverID}}</span></div>
<!--<div class="card-text" ng-if="assetData.liscenceValidity">
    Liscence Validity: <span>{{assetData.liscenceValidity.day}}:{{assetData.liscenceValidity.month}}:{{assetData.liscenceValidity.year}}</span></div>-->


