.plusIcon {
  /*position: fixed;
  bottom: 9px;
  right: 20px;
  background: #20c65a;
  width: 55px;
  height:55px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;*/
  position: fixed;
  z-index: 998;
  bottom: 45px;
  right: 30px;
  margin-bottom: 0;
  padding-top: 15px;
}

.plus {
  /*font-size: 28px;
  position: absolute;
  right: 14px;
  top: 13px;
  color: #fff;*/
  /*padding: 0.5rem 1rem;
  font-size: 30px;*/
  font-size: 18px;
  padding: 15px 21px;
  line-height: 1.5;
  border-radius: 50%;
  color: #fff;
}

.plus:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2),
  0 6px 20px 0 rgba(0, 0, 0, .19);
}

.assetList {
  float: right;
  position: fixed;
  right: 35px;
  bottom: 106px;
  display: none;
}

.assetList .plus {
  font-size: 21px;
  padding: 10px 14px;
  margin-bottom: 15px;
}

.assetList .plus img {
  width: 25px;
  height: auto;
}
