<style>
    header{
        padding: 5px;
        background-color: #7386D5;
        color: white;

    }
    .jumbotron {
    min-height: 100px;
    }
</style>
<div class="container">
    <!--<app-report-button></app-report-button>-->
    <header><h3>Summary Report</h3></header>
    <br>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-3 col-md-3 .col-xs-3 col-lg-3">
                    <p>Date Range From:<input class="form-control" type="date"  [(ngModel)]="startDate"  placeholder="Start date"></p>
                </div>
                <div class="col-sm-3 col-md-3 .col-xs-3 col-lg-3">
                    <p>Date Range To: <input class="form-control" type="date" [(ngModel)]="endDate" placeholder="End Date"></p>
                </div>
                <div class="col-sm-3 col-md-3 .col-xs-3 col-lg-3">
                    <lable class="labelText">Select Vehicle Type<span style="color:red">*</span></lable>
                    <select [(ngModel)]="selectedVehicleType" id="Vehicle" class="form-control">
                        <option  *ngFor="let value of vehicleTypeList">{{value.vehicleTypeName}}</option>
                    </select>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-3 col-md-3 .col-xs-3 col-lg-3">
                    <lable class="labelText">Select Company<span style="color:red">*</span></lable>
                    <select [(ngModel)]="selectCompany" id="CompanyId" class="form-control">
                        <option  *ngFor="let value of companyAssetList">{{value.companyName}}</option>
                    </select>
                </div>



            <div class="col-sm-3 col-md-3 .col-xs-3 col-lg-3">
                <lable class="labelText">Select Corporate Contract<span style="color:red">*</span></lable>
                <select [(ngModel)]="selectedCCType" id="Contract" class="form-control">
                    <option  *ngFor="let value of ccList">{{value}}</option>
                </select>
            </div>

            <div class="col-sm-3 col-md-3 .col-xs-3 col-lg-3">
            <span><button type="button" class="btn btn-success" (click)="submitQuery()">View Report</button></span>
                <span>  <button type="button" class="btn btn-grey" (click)="downLoadPdf()">Download</button>
            </span>
            </div>
        </div>

    </div>

    <table class="table" style="border: 1px solid black;">
        <thead class="thead" style="background-color:yellow;">
        <tr>
            <th scope="col">Company Name</th>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Vehicle Type</th>
            <th scope="col">Corporate Contract</th>
            <th scope="col">Extra Hr Amt</th>
            <th scope="col">Extra Hrs /th>
            <th scope="col">Extra Km Amt</th>
            <th scope="col">Extra Kms</th>
            <th scope="col">Rate Per Hr / Mth</th>
            <th scope="col">Rate Per Km</th>
            <th scope="col">Slab Rate</th>
            <th scope="col">Total Days Per Hour</th>

            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>

        <tr  *ngFor="let reportDetails of resultDetails;">

            <td>{{reportDetails.companyTransactionSelected}}</td>
            <td>{{reportDetails.vehicleNumber}}</td>
            <td>{{reportDetails.vehicleType}}</td>
            <td>{{reportDetails.corporateContract}}</td>
            <td>{{reportDetails.extraHrAmt}}</td>
            <td>{{reportDetails.extraHrs}}</td>
            <td>{{reportDetails.extraKmAmt}}</td>
            <td>{{reportDetails.extraKms}}</td>
            <td>{{reportDetails.ratePerHr}}</td>
            <td>{{reportDetails.ratePerKm}}</td>
            <td>{{reportDetails.slabRate}}</td>
            <td>{{reportDetails.totalDaysPerHour}}</td>
            <td>{{reportDetails.tripAmt}}</td>

        </tr>

        </tbody>
    </table>
</div>