
.uppercase{
  text-transform: uppercase;
}

.groupBadge{
  position: relative;
}
.groupBadge .badge{
  position: absolute;
  top: -7px;
  right: -4px;
  background: red;
  font-size: 15px;
  border-radius: 50%;
}

.modal .modal-header {
  background-color: #6d7fcc;
  color: #fff;
  height: 70px;
}

.modal-header .close span{
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.modal-content .close {
  position: absolute;
  right: 25px;
  top: 28px;
  border-radius: 50%;
  padding: 10px 15px;
}
.modal .modal-full-height{
  height: auto !important;
}
.modal-content .close:hover {
  background: #443f3f;
}
.modal{
  max-height: 100vh;
  overflow-y: scroll;
}
/* MODAL FADE LEFT RIGHT BOTTOM */
/*.modal.fade:not(.in).left .modal-dialog {
  -webkit-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
}
.modal.fade:not(.in).right .modal-dialog {
  -webkit-transform: translate3d(25%, 0, 0);
  transform: translate3d(25%, 0, 0);
}
.modal.fade:not(.in).bottom .modal-dialog {
  -webkit-transform: translate3d(0, 25%, 0);
  transform: translate3d(0, 25%, 0);
}

.modal-header{
  background-color: #6d7fcc;
  color: #ffffff;
}
.modal-header .close span{
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
}

.modal-content .close {
  position: absolute;
  right: 20px;
  top: 28px;
  border-radius: 50%;
  padding: 10px 15px;
}

.modal-content .close:hover {
  background: #443f3f;
}

.form-modal{
  width: 800px;
}*/

/*.modal.right .modal-dialog {
  position:absolute;
  top:0;
  //right:200px;
  margin:0;
  right: calc(100% - 500px);;
}*/

/*.modal{
  overflow-x: hidden !important;
  overflow-y: auto !important;
}*/


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
.topright:hover {color: red;}

// ======================================


.plusIcon{
  position: fixed;
  z-index: 100;
  top: 346px;
  right: 28px;
}


.plus{
  font-size: 20px;
  padding: 7px 13px;
  line-height: 1.5;
  border-radius: 50%;
  color: #fff;
}
.plus:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),
  0 6px 20px 0 rgba(0,0,0,.19);
}

//===============================
