<div class="limiter">
  <div class="container-login100" style="background-image: url('../../assets/bg-01.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
					<span class="login100-form-logo">
            <img src="../../assets/logo.png" alt="logo">
					</span>
        <br>

        <!--    <span class="login100-form-title p-b-34 p-t-27">
       VECHICLE MANAGEMENT
                </span>
-->
        <div class="wrap-input100 validate-input" data-validate="Enter username">
          <input class="input100" type="text" name="email" id="inputEmail" [(ngModel)]="email"
                 placeholder="Enter registred email Id">
        </div>


        <div style="text-align: center">
          {{emailStatus}}
        </div>
        <br>

        <div class="container-login100-form-btn">

          <button class="login100-form-btn" (click)="sendEmail()">
            Send Email
          </button>
        </div>


        <div class="p-t-90"></div>
      </form>
    </div>

    <!--  <div *ngIf="isShowAsset">
        <app-loader></app-loader>
      </div>-->


  </div>
</div>
