<!-- Card deck -->
<div class="card-deck">

    <!-- Card -->
    <div class="card mb-3">

        <!--Card image-->

        <!--Card content-->
        <div *ngIf="isCardClickable" class="card-body" data-toggle="modal" data-target="#sidebar-right"
             data-backdrop="static" data-keyboard="false"
             (mouseover)="hover=true" (mouseleave)="hover=false"
             [ngStyle]="{'box-shadow': hover==true  ? getBoxShadowForCard(assetData.assetType) : '' }"
             (click)="editAssetDetails()">

      <span class="closeBtn showdDelinkAlertPopupBtn" (click)="closeBtnClicked()" *ngIf="showCloseBtn"
            data-toggle="tooltip" data-placement="left" title="Delink">
        <i class="fa fa-unlink close-icon" aria-hidden="true"></i></span>
            <span class="linkBtn" (click)="linkBtnClicked()" *ngIf="showLinkBtn"><i class="fa fa-link" aria-hidden="true"></i></span>
            <h4 class="card-title uppercase">{{assetData.assetType}}</h4>
            <app-vechicle-card  [assetData]="assetData" *ngIf="assetData.assetType === 'Vehicle'"></app-vechicle-card>
            <app-company-card  [assetData]="assetData" *ngIf="assetData.assetType === 'Company'"></app-company-card>
            <app-lesser-card    [assetData]="assetData" *ngIf="assetData.assetType === 'Lesser'"></app-lesser-card>
            <app-driver-card  [assetData]="assetData" *ngIf="assetData.assetType === 'Driver'"></app-driver-card>

        </div>


    </div>
    <!-- Card -->

</div>
<!-- Card deck -->


