<style>
  table.table td {
    padding-top: 0.1rem;
    padding-bottom: 0.3rem;
  }
</style>

<div class="container">
  <div  class="row">

    <button type="button" class="btn btn-primary"  [ngClass]="{'active':router['url'] === '/onDemand'}"  (click)="navigateOnDemand()"
    >On Demand
    </button>

    <button type="button" class="btn btn-primary" [ngClass]="{'active':router['url'] === '/OnDemandShiftType'}"  (click)="navigateOnDemandShiftType()"
    >Shift Type
    </button>


  </div>

</div>

