<style>
  table.table td {
    padding-top: 0.1rem;
    padding-bottom: 0.3rem;
  }
</style>

<div class="container">

  <div>
    <button type="button" class="btn btn-primary" data-toggle="modal" (click)="getIncialDropDownValues()"
            data-target="#add">ADD TRANSACTION
    </button>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>TS Number</th>
        <th>Booked By</th>
        <th>vehicle Mode No</th>
        <th>Transaction Date</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      </thead>
        <tbody>
      <tr *ngFor="let vechicle of allTransactionList">
        <td>{{vechicle.TSno}}</td>
        <td>{{vechicle.bookedBy}}</td>
        <td>{{vechicle.vehicleMode}}</td>
        <td>{{vechicle.created | date:'medium'}}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal"
                  (click)="getEditConfiguration(vechicle)" data-target="#edit">Edit
          </button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal"
                  (click)="deleteTransactionConfiguration(vechicle)">Delete
          </button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12  col-sm-12 d-flex justify-content-center" style=" margin-top: 10px">
    <ngb-pagination class="d-flex justify-content-center "
                    [collectionSize]="pagination.totalPageCount"
                    [(page)]="pagination.currentPage" [maxSize]="3"
                    [rotate]="true"
                    [boundaryLinks]="true"
                    (pageChange)="getDataByPageNo($event)"
                    [pageSize]="pagination.recordsPerPage"
                    aria-label="Default pagination">

    </ngb-pagination>
  </div>

</div>



<!-- Modal -->
<div id="add" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-full-height modal-lg  modal-right">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ADD</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-sm-6">
            <label class="text-capitalize fontMedium">Trip Date</label>
            <input type="date"   [(ngModel)]="vechicleTranctionFromDetails.tripDate"  />
          </div>
            <div class="col-sm-6" style="float: left">
                <label class="text-capitalize">Select Company<span style="color:red">*</span></label>
                <ng-multiselect-dropdown
                        [placeholder]="'Select Vehicle'"
                        [data]="companyDropdownList"
                        [(ngModel)]="selectedCompanyItems"
                        [settings]="companydropdownSettings"
                        (onSelect)="onCompanySelect($event)"
                        (onSelectAll)="onCompanySelectAll($event)"
                        (onDeSelect)="onCompanyDeSelect($event)"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-6" style="float: left">
            <label class="text-capitalize">Select Vehicle<span style="color:red">*</span></label>
            <ng-multiselect-dropdown
                    [placeholder]="'Select Vehicle'"
                    [data]="vechicleDropdownList"
                    [(ngModel)]="selectedVehicleItems"
                    [settings]="vechicledropdownSettings"
                    (onSelect)="onvehicleSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelect)="onItemDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>
            <div class="col-sm-6">
                <label class="text-capitalize">Booked By<span style="color:red">*</span></label>
                <input type="text" class="form-control" placeholder="Enter booked By" name="Booked By"
                       [(ngModel)]="vechicleTranctionAdditionalFromDetails.bookedBy" required>
            </div>

        </div>
        <br>
        <div class="row">
          <div class="col-sm-6">
            <label class="text-capitalize">Vehicle Type<span style="color:red">*</span></label>
            <input type="text" class="form-control" readonly placeholder="enter Vehicle Type" name="Vehicle Type"
                   [(ngModel)]="vechicleTranctionFromDetails.vehicleMode" required>
          </div>

            <div class="col-sm-6 " style="float: left">
                <div>
                    <label class="text-capitalize">TS Number<span style="color:red">*</span></label>
                    <input type="text" class="form-control"   readonly placeholder="enter TS number" name="TS Number"
                           [(ngModel)]="vechicleTranctionFromDetails.TSno" required>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
          <div class="col-sm-6">
            <label class="text-capitalize">Total Kms<span style="color:red">*</span></label>
            <input type="number" class="form-control" placeholder="enter total Kms" name="total Kms"
                   [(ngModel)]="vechicleTranctionAdditionalFromDetails.totalKms" required>
          </div>
          <div class="col-sm-6">
            <label class="text-capitalize">Total Hrs<span style="color:red">*</span></label>
            <input type="number" class="form-control" placeholder="enter total Hrs" name="total Hrs"
                   [(ngModel)]="vechicleTranctionAdditionalFromDetails.totalHrs" required>
          </div>
        </div>

        <div class="row">
          <button type="button"  class="btn btn-primary" data-dismiss="modal"  (click)="submitTransactionData()"
                  >Save
          </button>


        </div>

      </div>
    </div>

  </div>
</div>


<!-- Modal -->
<div id="edit" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-full-height modal-lg  modal-right">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">EDIT TRANSACTION</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6">
            <label class="text-capitalize fontMedium">Trip Date</label>
            <input type="date"  id="today" [(ngModel)]="vechicleTranctionFromDetails.tripDate"  />
          </div>

          <div class="col-sm-6" style="float: left">
            <label class="text-capitalize">Select Company<span style="color:red">*</span></label>
            <ng-multiselect-dropdown
                    [placeholder]="'Select Vehicle'"
                    [data]="companyDropdownList"
                    [(ngModel)]="selectedCompanyItems"
                    [settings]="companydropdownSettings"
                    (onSelect)="onCompanySelect($event)"
                    (onSelectAll)="onCompanySelectAll($event)"
                    (onDeSelect)="onCompanyDeSelect($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
          <div class="row">
            <div class="col-sm-6">
              <label class="text-capitalize">Select vehicle<span style="color:red">*</span></label>
              <ng-multiselect-dropdown
                      [placeholder]="'Select Vehicle'"
                      [data]="vechicleDropdownList"
                      [(ngModel)]="selectedItems"
                      [settings]="vechicledropdownSettings"
                      (onSelect)="onvehicleSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                      (onDeSelect)="onItemDeSelect($event)"
              >
              </ng-multiselect-dropdown>
            </div>

            <div class="col-sm-6">
              <label class="text-capitalize">Booked By<span style="color:red">*</span></label>
              <input type="text" class="form-control" placeholder="Enter booked By" name="Booked By"
                     [(ngModel)]="editTransactionDetails.bookedBy" required>
            </div>

          </div>

        <div class="row">
          <div class="col-sm-6">
            <label class="text-capitalize">Vehicle Type<span style="color:red">*</span></label>
            <input type="text" class="form-control" readonly placeholder="enter Vehicle Mode" name="Vehicle Mode"
                   [(ngModel)]="editTransactionDetails.vehicleMode" required>
          </div>

          <div class="col-sm-6">
            <label class="text-capitalize">TS Number<span style="color:red">*</span></label>
            <input type="text" class="form-control" readonly placeholder="enter TS number" name="TS Number"
                   [(ngModel)]="editTransactionDetails.TSno" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="text-capitalize">Total Hrs<span style="color:red">*</span></label>
            <input type="text" class="form-control" placeholder="enter total Hrs" name="total Hrs"
                   [(ngModel)]="editTransactionDetails.totalHrs" required>
          </div>
          <div class="col-sm-6">
            <label class="text-capitalize">Total Kms<span style="color:red">*</span></label>
            <input type="text" class="form-control" placeholder="enter total Kms" name="total Kms"
                   [(ngModel)]="editTransactionDetails.totalKms" required>
          </div>
        </div>

        <div class="row">
          <button type="button"  class="btn btn-primary" data-dismiss="modal"  (click)="updateTransactionDetails()">Update
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
